:root {
    --bg-color-light: #fff;
    --bg-color-dark: #222;
    --text-color-light: #222;
    --text-color-dark: #fff;
}

body.light-mode {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
}

body.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

.header.light-mode,
.sidebar.light-mode,
.black-section.light-mode,
.logo-text.light-mode,
.header__nav.light-mode,
.buyCoffee.light-mode,
.fa-coffee.light-mode,
.profile-info.light-mode
{
    background-color: #FAF9F6;
    color: var(--text-color-light);
}

.header.dark-mode,
.sidebar.dark-mode,
.black-section.dark-mode,
.logo-text.dark-mode,
.header__nav.dark-mode,
.buyCoffee.dark-mode,
.fa-coffee.dark-mode,
.profile-info.dark-mode
 {
    background-color: #505050;
    color: var(--text-color-dark);
 }

 .logos.dark-mode i,
 .app-name.dark-mode,
 .app-name.linkedin.dark-mode 
  {
     color: var(--text-color-dark);
 }
 
 .logos.light-mode i,
 .app-name.light-mode,
 .app-name.linkedin.light-mode {
     color: var(--text-color-light);
 }

