/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 5rem auto;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    text-align: center;
    margin-bottom: 100px;
}

.profile {
    text-align: center;
}

.profile img {
    width: 150px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.details h3 {
    margin-top: 1.5rem;
    padding: 20px;
}

.details p {
    line-height: 1.5;
}

/* Navigation arrows */
.nav-arrow {
    font-size: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s, transform 0.3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Style for the left arrow */
#prev-section {
    left: 450px; /* Position the left arrow to the left */
}

/* Style for the right arrow */
#next-section {
    right: 450px; /* Position the right arrow to the right */
}

.nav-arrow:hover {
    background-color: #0056b3; /* Darker background on hover */
}
