body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: #f1f1f1;
  background-image: url('../img/tech1.gif');
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: slow-animation;
  animation-duration: 10s;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
}


@keyframes slow-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  body {
    overflow-x: hidden !important; /* Prevent horizontal scrolling */
    overflow-y: hidden !important; /* Prevent vertical scrolling */
  }

  .containers {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    overflow: hidden;
  }

  .body-container {
    display: flex;
    justify-content: center;
    margin-left: 120px;
    align-items: center; /* Center vertically */
    height: 60vh; /* Adjust height as needed */  }
}


/* Desktop styles */
@media (min-width: 769px) {
  .containers {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 100vh;
      overflow: auto;
  }
  
  .body-container {
      display: flex;
      justify-content: center; 
      align-items: center; /* Center vertically */
      height: 60vh;
  }
}
