body {
  background-image: url('../img/tech1.gif');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  animation-name: slow-animation;
  animation-duration: 10s; /* Adjust the duration as per your preference */
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
}

@keyframes slow-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.containers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  overflow: auto;
}
.body-container {
  display: flex;
  justify-content: center; 
  align-items: center; /* Center vertically */
  height: 60vh;
}