/* change-password.blade.css */

/* Container for the form */
.change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Subtract the header height */
}

/* Styles for the form container */
.change-password-table {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for the table inside the form container (if any) */
.change-password-table table {
    width: 100%;
}

/* Styles for table header and table data cells */
.change-password-table th,
.change-password-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.change-password-table th {
    text-align: left;
}

/* Styles for form labels and input fields */
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Styles for the submit button */
.update-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

/* Styles for the submit button on hover */
.update-button:hover {
    background-color: #0056b3;
}
