.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #505050, #B0B0B0);
    color: white;
    height: 70px;
    padding: 0 20px;
    border-color: black 2px;
    margin-left: 150px;
    width: calc(100% - 50px); /* Adjust the width to match the expanded sidebar width */
}
.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: white; /* Add this line to set the text color to white */
    text-decoration: none; /* Add this line to remove the underline */
}
.header__nav {
    display: flex;
    align-items: center;
}

.header__nav a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}