.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #505050, #B0B0B0);
    border-radius: 8px;
    color: white;
    height: 60px;
    padding: 0 20px;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    border-color: black 2px;
    /* animation: borderAnimation 5s infinite linear; */
}
/* @keyframes borderAnimation {
    0% {
        border: 2px solid red;
    }
    25% {
        border: 2px solid blue;
    }
    50% {
        border: 2px solid red;
    }
    75% {
        border: 2px solid blue;
    }
    100% {
        border: 2px solid red;
    }
} */

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: white; /* Add this line to set the text color to white */
    text-decoration: none; /* Add this line to remove the underline */
}

.logo img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}


.separator {
    width: 2px;
    height: 30px;
    background-color: white;
    margin: 0 10px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    display: none;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 150px;
}

.dropdown.open .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    list-style: none;
}

.dropdown-menu a {
    display: block;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}