.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    margin-left: 50px;
    width: calc(100% - 50px);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 100px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-text{
    text-decoration: none;
}

.buyCoffee{
    text-decoration: none;
}

.fa-coffee{
    text-decoration: none;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav a {
    margin-right: 10px;
    text-decoration: none;
}

/* Toggle Mode */
.toggle-mode{
    position: relative;
    width: 115px;
    height: 30px;
    background-color: transparent;
    border-radius: 25px;
    cursor: pointer;
    padding: 2px;
    border: 3px solid #222;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 20px;
}

.sun-icon,
.moon-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
}

.sun-icon {
    margin-left: 5px;
}

.moon-icon {
    margin-right: 5px;
}

.icons i {
    font-size: 20px;
    color: white;
}

.toggle-button {
    position: absolute;
    top: -1px;
    left: 22px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.toggle-checkbox:checked + .toggle-label .toggle-button {
    transform: translateX(35px);
}

.toggle-checkbox:not(:checked) + .toggle-label .toggle-button {
    transform: translateX(5px);
}
