/*mobile devices styles*/
@media (max-width: 768px) {
  .popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; /* Increased width for mobile */
    max-width: 400px; /* Added max-width for better control */
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    font-family: Arial, sans-serif;
    color: #333;
    margin-left: 40px;
    margin-top: -10px;
  }

  .popup h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .popup p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .popup form {
    margin-bottom: 10px;
  }

  .popup label {
    display: block;
    margin-bottom: 5px; /* Reduced margin between options */
  }

  .popup input[type="radio"] {
    margin-right: 5px; /* Made radio options smaller */
    font-size: 10px; /* Made radio options font size smaller */
  }

  .popup input[type="text"] {
    width: 100%; /* Made text input full width for mobile */
    margin-top: 5px; /* Added margin-top for spacing */
  }
}
/*desktop styles*/
@media (min-width: 769px) {
  .popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    font-family: Arial, sans-serif;
    color: #333;
  }
  

.popup h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.popup p {
  font-size: 16px;
  margin-bottom: 20px;
}

.popup form {
  margin-bottom: 20px;
}

.popup label {
  display: block;
  margin-bottom: 10px;
}

.popup input[type="radio"] {
  margin-right: 5px;
}

.popup input[type="text"] {
  width: 100px;
  margin-left: 5px;
}
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
}

.popup button {
  background-color: #333;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #555;
}

.buy-coffee {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}

.buy-coffee span {
  margin-right: 10px;
}

.buy-coffee i {
  font-size: 18px;
}
