/* Global styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden !important; /* Prevent horizontal scrolling */
    overflow-y: hidden !important; /* Prevent vertical scrolling */
}
/*mobile devices styles*/
@media (max-width: 768px) {
    .sidebar {
        width: 100px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        transition: none;
    }

    .sidebar-item .sidebar-text {
        display: block;
        transition: none;
    }

    .auth-links .sidebar-text {
        display: block;
    }

    /* Sidebar item styles */
    .sidebar-item {
        padding: 0;
        margin: 0;
        font-size: 15px;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 23px;
    }

    .sidebar .dropdown-menu {
        display: none;
        position: absolute;
        top: -2px;
        left: 97px;
        width: 100%;
        padding: 0;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .sidebar .dropdown-menu li {
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }
    
    .sidebar .dropdown-menu li a {
        text-decoration: none;
        display: block;
        padding: 10px 0;
        transition: background-color 0.3s;
    }

}
/*desktop styles*/
@media (min-width: 769px) {

/* Sidebar styles */
.sidebar {
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    transition: width 0.3s;
}


.sidebar:hover {
    width: 170px;
}

/* Sidebar item styles */
.sidebar-item {
    padding: 0;
    margin: 0;
    font-size: 15px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 50px;
}


.sidebar:not(:hover) .sidebar-item .sidebar-text {
    display: none;
}

.auth-links:hover .sidebar-text {
    display: block;
}

.sidebar:not(:hover) .auth-links .sidebar-text {
    display: none;
}

.sidebar .dropdown-menu {
    display: none;
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    padding: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.sidebar .dropdown-menu li {
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.sidebar .dropdown-menu li a {
    text-decoration: none;
    display: block;
    padding: 10px 0;
    transition: background-color 0.3s;
}

}


/*itens shared between phone and desktop*/

.sidebar .dropdown-toggle {
    cursor: pointer;
}

.sidebar-item:hover {
    background-color: inherit;
}

.sidebar-item:hover .sidebar-text {
    display: block;
}

.dropdown-toggle {
    cursor: pointer;
}
.username .default-text {
    display: inline-block;
}

.username .username-text {
    display: none;
}

.username:hover .default-text {
    display: none;
}

.username:hover .username-text {
    display:block;

}

/* Profile info styles (can be shared between desktop and mobile) */
.profile-info {
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
    width: 100%;
    text-decoration: none;
}

/* Common styles for both desktop and mobile sidebars */
.sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.auth-links:hover {
    background-color: inherit;
}
/* Auth link styles */
.auth-links {
    padding: 0;
    margin: 0;
    font-size: 15px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    }

.auth-links a {
    width: 100%;
    color: inherit; /* Use the parent color */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Set cursor to pointer on hover */
}

.auth-links i {
    font-size: 1.5rem;
    margin-bottom: 5px;
    display: block;
}

/*sidebar itens common styles*/
.sidebar-item i {
    font-size: 1.5rem;
    margin-bottom: 5px;
    display: block;
    transition: color 0.3s;
}

.sidebar-item a {
    color: inherit; /* Use the parent color */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Set cursor to pointer on hover */
    width: 100%;
}

.sidebar .dropdown-menu li a:hover {
    background-color: #444;
}