:root {
    --bg-color-light: #fff;
    --bg-color-dark: #222;
    --text-color-light: #222;
    --text-color-dark: #fff;
}

body.light-mode {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
}

body.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

.header.light-mode,
.sidebar.light-mode,
.black-section.light-mode,
.logo-text.light-mode,
.header__nav.light-mode,
.buyCoffee.light-mode,
.fa-coffee.light-mode,
.profile-info.light-mode,
.dropdown-toggle.light-mode,
.modal-content.light-mode,
.profile-dropdown.light-mode,
.username.dropdown.light-mode,
.profile-table.light-mode,
.project-item.light-mode,
.news-item.light-mode,
.change-password-table.light-mode
{
    background-color: #FAF9F6;
    color: var(--text-color-light);
}

.header.dark-mode,
.sidebar.dark-mode,
.black-section.dark-mode,
.logo-text.dark-mode,
.header__nav.dark-mode,
.buyCoffee.dark-mode,
.fa-coffee.dark-mode,
.profile-info.dark-mode,
.dropdown-toggle.dark-mode,
.modal-content.dark-mode,
.profile-dropdown.dark-mode,
.username.dropdown.dark-mode,
.profile-table.dark-mode,
.project-item.dark-mode,
.news-item.dark-mode,
.change-password-table.dark-mode
 {
    background-color: #505050;
    color: var(--text-color-dark);
 }

 .logos.dark-mode svg,
 .logos.linkedin.dark-mode svg,
 .app-name.dark-mode,
 .app-name.linkedin.dark-mode,
 .auth-links.dark-mode svg,
 .project-title.dark-mode,
 .project-description.dark-mode,
 .news-title.dark-mode,
 .news-description.dark-mode,
 .desktop-text.dark-mode
  {
     color: var(--text-color-dark);
 }
 
 .logos.light-mode svg,
 .logos.linkedin.light-mode svg,
 .app-name.light-mode,
 .app-name.linkedin.light-mode,
 .auth-links.light-mode svg,
 .project-title.light-mode,
 .project-description.light-mode,
 .news-title.light-mode,
 .news-description.light-mode,
 .desktop-text.light-mode
 {
     color: var(--text-color-light);
 }

/* Hover effect for light mode */
.light-mode .auth-links:hover,
.light-mode .sidebar-item:hover {
    background-color: #ddd;
}

/* Hover effect for dark mode */
.dark-mode .auth-links:hover,
.dark-mode .sidebar-item:hover {
    background-color: #444;
}
    /* Light Mode Profile Dropdown */
.light-mode .username.dropdown {
    background-color: #FAF9F6;
    color: var(--text-color-light);
}

.light-mode .username.dropdown .dropdown-menu li {
    background-color: #FAF9F6;
}

.light-mode .username.dropdown .dropdown-menu li a {
    color: var(--text-color-light);
}

.light-mode .username.dropdown .dropdown-menu li a:hover {
    background-color: #ddd;
}

.light-mode .username.dropdown .dropdown-menu li i {
    color: var(--text-color-light);
}

/* Dark Mode Profile Dropdown */
.dark-mode .username.dropdown {
    background-color: #505050;
    color: var(--text-color-dark);
}

.dark-mode .username.dropdown .dropdown-menu li {
    background-color: #505050;
}

.dark-mode .username.dropdown .dropdown-menu li a {
    color: var(--text-color-dark);
}

.dark-mode .username.dropdown .dropdown-menu li a:hover {
    background-color: #444;
}

.dark-mode .username.dropdown .dropdown-menu li i {
    color: var(--text-color-dark);
}
